{# Display form errors if any #}
{{ form_errors(form) }}

{# Patient details #}
<div class="patient-details">
    <div class="row mb-3">
        <div class="col-md-8">
            {{ form_row(form.client) }}
        </div>
        {% if not form.vars.value.id %}
        <div class="col-md-4 d-flex align-items-end">
            <a href="{{ path('app_client_new', { redirect: 'app_patient_new' }) }}" class="btn btn-primary w-100">
                Add New Client
            </a>
        </div>
        {% endif %}
    </div>

    <div class="row mb-3">
        <div class="col-md-4">{{ form_row(form.name) }}</div>
        <div class="col-md-4">{{ form_row(form.type) }}</div>
        <div class="col-md-4">{{ form_row(form.gender) }}</div>
    </div>

    <div class="row mb-3">
        <div class="col-md-4">{{ form_row(form.age) }}</div>
        <div class="col-md-4">{{ form_row(form.markingNumber) }}</div>
        <div class="col-md-4">{{ form_row(form.passportNumber) }}</div>
    </div>

    <div class="row mb-3">
        <div class="col-12">{{ form_row(form.appearance) }}</div>
    </div>
</div>

<button class="btn btn-success" type="submit">{{ button_label|default('Save') }}</button>
