{% extends 'base.html.twig' %}

{% block title %}Appointment{% endblock %}

{% block body %}
    <h1>Appointment</h1>

    <table class="table">
        <tbody>
        <p><strong>Owner:</strong> {{ appointment.client.name }}</p>
        <p><strong>Patient:</strong> {{ appointment.patient.name }}</p>

            <tr>
                <th>Date</th>
                <td>{{ appointment.date ? appointment.date|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>RegistrationDate</th>
                <td>{{ appointment.registrationDate ? appointment.registrationDate|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>SymptomsDate</th>
                <td>{{ appointment.symptomsDate ? appointment.symptomsDate|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ appointment.status }}</td>
            </tr>
            <tr>
                <th>Diagnosis</th>
                <td>{{ appointment.diagnosis }}</td>
            </tr>
            <tr>
                <th>Services</th>
                <td>{{ appointment.services }}</td>
            </tr>
            <tr>
                <th>EndResult</th>
                <td>{{ appointment.endResult }}</td>
            </tr>
        </tbody>
    </table>


    <!-- examination results -->
    <h2>Examinations</h2>
    {% for examinationWithResult in appointment.examinationWithResults %}
        <div>
            <p><strong>Examination:</strong> {{ examinationWithResult.examination.examinationName }}</p>
            <p><strong>Date:</strong> {{ examinationWithResult.date|date('Y-m-d') }}</p>
            <p><strong>Result:</strong> {{ examinationWithResult.result }}</p>
            <p><strong>Norms:</strong> {{ examinationWithResult.examination.norms }}</p>
            <p><strong>Machine:</strong> {{ examinationWithResult.examination.machine }}</p>
        </div>
    {% else %}
        <p>No examinations.</p>
    {% endfor %}
    <!-- pabaiga examination results-->

    <!-- assigned drugs -->
    <h2>Assigned Drugs</h2>
    {% for asignedDrug in appointment.asignedDrugs %}
        <div>
            <p><strong>Drug Name:</strong> {{ asignedDrug.drugWarehouse.drugName }}</p>
            <p><strong>Amount:</strong> {{ asignedDrug.amount }} {{ asignedDrug.type }}</p>
        </div>
    {% else %}
        <p>No assigned drugs.</p>
    {% endfor %}
    <!-- end assigned drugs -->

    <a href="{{ path('app_appointment_index') }}">back to list</a>
{#    <a href="{{ path('app_appointment_edit', {'id': appointment.id}) }}">edit</a>#}

{#    {{ include('appointment/_delete_form.html.twig') }}#}
{% endblock %}
