{% extends 'base.html.twig' %}

{% block title %}DrugWarehouse index{% endblock %}

{% block body %}
    <div class="table-responsive">
        <h1 class="text-center">Vaistų sandėlis</h1>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Gavimo data</th>
                <th>Pavadinimas</th>
                <th>Gamintojas</th>
                <th>Dokumento numeris</th>
                <th>Kiekis</th>
                <th>Sunaudota</th>
                <th>Galiojimo pabaiga</th>
                <th>Veiksmai</th>
            </tr>
            </thead>
            <tbody>
            {% for drug_warehouse in drug_warehouses %}
                <tr>
                    <td>{{ drug_warehouse.dateOfReceipt ? drug_warehouse.dateOfReceipt|date('Y-m-d') : '' }}</td>
                    <td>{{ drug_warehouse.DrugName }}</td>
                    <td>{{ drug_warehouse.drugManufacturer }}</td>
                    <td>{{ drug_warehouse.documentNumber }}</td>
                    <td>{{ drug_warehouse.amount }} {{ drug_warehouse.type }}</td>
                    <td>{{ drug_warehouse.usedAmount }} {{ drug_warehouse.type }}</td>
                    <td>{{ drug_warehouse.expirationDate ? drug_warehouse.expirationDate|date('Y-m-d') : '' }}</td>
                    <td>
                        <a href="{{ path('app_drug_warehouse_show', {'id': drug_warehouse.id}) }}" class="btn btn-secondary btn-sm">Peržiūrėti</a>
                        <a href="{{ path('app_drug_warehouse_edit', {'id': drug_warehouse.id}) }}" class="btn btn-secondary btn-sm">Redaguoti</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="12" class="text-center">Įrašų nerasta</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <a href="{{ path('app_drug_warehouse_new') }}" class="btn btn-secondary mt-3">Naujas</a>

{% endblock %}
