{% extends 'base.html.twig' %}

{% block title %}DrugWarehouse{% endblock %}

{% block body %}
    <div class="container mt-4">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <h1 class="text-left">Drug details</h1>
                <table class="table">
                    <tbody>
                    <tr>
                        <th>DateOfReceipt</th>
                        <td>{{ drug_warehouse.dateOfReceipt ? drug_warehouse.dateOfReceipt|date('Y-m-d') : '' }}</td>
                    </tr>
                    <tr>
                        <th>DrugName</th>
                        <td>{{ drug_warehouse.DrugName }}</td>
                    </tr>
                    <tr>
                        <th>DrugManufacturer</th>
                        <td>{{ drug_warehouse.drugManufacturer }}</td>
                    </tr>
                    <tr>
                        <th>DocumentNumber</th>
                        <td>{{ drug_warehouse.documentNumber }}</td>
                    </tr>
                    <tr>
                        <th>Amount</th>
                        <td>{{ drug_warehouse.amount }} {{ drug_warehouse.type }}</td>
                    </tr>
                    <tr>
                        <th>ManufactureDate</th>
                        <td>{{ drug_warehouse.manufactureDate ? drug_warehouse.manufactureDate|date('Y-m-d') : '' }}</td>
                    </tr>
                    <tr>
                        <th>ExpirationDate</th>
                        <td>{{ drug_warehouse.expirationDate ? drug_warehouse.expirationDate|date('Y-m-d') : '' }}</td>
                    </tr>
                    <tr>
                        <th>Series</th>
                        <td>{{ drug_warehouse.series }}</td>
                    </tr>
                    <tr>
                        <th>WhereObtainedFrom</th>
                        <td>{{ drug_warehouse.whereObtainedFrom }}</td>
                    </tr>
                    </tbody>
                </table>
                <div class="row justify-content-left mt-3">
                    <div class="col-auto">
                        <a href="{{ path('app_drug_warehouse_index') }}" class="btn btn-secondary">Back to list</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
