{% extends 'base.html.twig' %}

{% block title %}Examination index{% endblock %}

{% block body %}
    <div class="container mt-4">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <h1 class="text-left">Examination index</h1>

                <table class="table">
                    <thead>
                    <tr>
                        <th>Shortcut</th>
                        <th>Examination Name</th>
                        <th>Norms</th>
                        <th>Machine</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for examination in examinations %}
                        <tr>
                            <td>{{ examination.shortcut }}</td>
                            <td>{{ examination.examinationName }}</td>
                            <td>{{ examination.norms }}</td>
                            <td>{{ examination.machine }}</td>
                            <td>
                                <a href="{{ path('app_examination_show', {'id': examination.id}) }}" class="btn btn-secondary btn-sm">Show</a>
                                <a href="{{ path('app_examination_edit', {'id': examination.id}) }}" class="btn btn-secondary btn-sm">Edit</a>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="6">No records found</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

                <div class="row justify-content-left mt-3">
                    <div class="col-auto">
                        <a href="{{ path('app_examination_new') }}" class="btn btn-secondary">Create New</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
