{% extends 'base.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block body %}
    <div class="container my-5">
        <h1 class="text-center mb-4">Veterinarinis žurnalas</h1>

        <div class="card shadow-sm mb-4">
            <div class="card-body">
                <table class="table table-striped table-bordered">
                    <thead class="table-light">
                    <tr>
                        <th>Data</th>
                        <th>Augintinis</th>
                        <th>Savininkas</th>
                        <th>Statusas</th>
                        <th>Diagnozė</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for appointment in appointments %}
                        <tr>
                            <td>{{ appointment.date ? appointment.date|date('Y-m-d') : '' }}</td>
                            <td>{{ appointment.patient ? appointment.patient.name : '' }}</td>
                            <td>{{ appointment.client ? appointment.client.name ~ ' ' ~ appointment.client.lastName : '' }}</td>
                            <td>{{ appointment.status }}</td>
                            <td>{{ appointment.diagnosis }}</td>
                            <td>
                                <div class="btn-group" role="group" aria-label="Actions">
                                    <button type="button" class="btn btn-success btn-sm" onclick="window.location.href='{{ path('app_appointment_show', {'id': appointment.id}) }}'">Rodyti</button>
                                    <button type="button" class="btn btn-success btn-sm" onclick="window.location.href='{{ path('app_appointment_edit', {'id': appointment.id}) }}'">Redaguoti</button>
                                </div>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="6" class="text-center">Įrašų nerasta</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <button type="button" class="btn btn-primary" onclick="window.location.href='{{ path('app_appointment_new') }}'">Naujas vizitas</button>
            </div>
        </div>
    </div>
{% endblock %}
