{% extends 'base.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block body %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="{{ path('app_dashboard') }}">JoAT</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">

                    <!-- Klientai -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="clientDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Client</a>
                        <ul class="dropdown-menu" aria-labelledby="clientDropdown">
                            <li><a class="dropdown-item" href="{{ path('app_client_new') }}">New</a></li>
                            <li><a class="dropdown-item" href="{{ path('app_client_index') }}">List</a></li>
                        </ul>
                    </li>

                    <!-- Pacientai -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="patientDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Patient</a>
                        <ul class="dropdown-menu" aria-labelledby="patientDropdown">
                            <li><a class="dropdown-item" href="{{ path('app_patient_new') }}">New</a></li>
                            <li><a class="dropdown-item" href="{{ path('app_patient_index') }}">List</a></li>
                        </ul>
                    </li>

                    <!-- Testavimas sandelis -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="examinationDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Examination</a>
                        <ul class="dropdown-menu" aria-labelledby="examinationDropdown">
                            <li><a class="dropdown-item" href="{{ path('app_examination_new') }}">New</a></li>
                            <li><a class="dropdown-item" href="{{ path('app_examination_index') }}">List</a></li>
                        </ul>
                    </li>

                    <!-- Vaistu sandelis -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="DrugWarehouseDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Warehouse</a>
                        <ul class="dropdown-menu" aria-labelledby="DrugWarehouseDropdown">
                            <li><a class="dropdown-item" href="{{ path('app_drug_warehouse_new') }}">New</a></li>
                            <li><a class="dropdown-item" href="{{ path('app_drug_warehouse_index') }}">List</a></li>
                        </ul>
                    </li>

                </ul>
            </div>
        </div>
    </nav>

    <div class="position-absolute top-0 end-0 m-3">
        <a href="{{ path('_logout_main') }}" class="btn btn-danger">Logout</a>
    </div>

    <h1>Journal of Animal Treatment</h1>
    <div class="container">
        <h2>Appointments</h2>
        <table class="table">
            <thead>
            <tr>
                <th>Date</th>
                <th>Status</th>
                <th>Diagnosis</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for appointment in appointments %}
                <tr>
                    <td>{{ appointment.date ? appointment.date|date('Y-m-d') : '' }}</td>
                    <td>{{ appointment.status }}</td>
                    <td>{{ appointment.diagnosis }}</td>
                    <td>
                        <a href="{{ path('app_appointment_show', {'id': appointment.id}) }}">Show</a>
                        <a href="{{ path('app_appointment_edit', {'id': appointment.id}) }}">Edit</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="9">No records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <a href="{{ path('app_appointment_new') }}" class="btn btn-primary">Create New Appointment</a>
    </div>
{% endblock %}
